# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
venv/

# Environment
.env

# Database
*.db
*.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node.js
node_modules/
.next/
out/

# Testing
.coverage
htmlcov/
.pytest_cache/

# Alembic
alembic/versions/*.pyc
.env.save
